page-viagem {
    .slide{
        background-color: #FFFFFF;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .scroll-content{
        background-color: #47AB43;
     
    }
    .toolbar-title-toolbar-title-md{
        font-size: 26px;
        font-family: "Comfortaa";
    }
    .navbar{
        flex:left;
    }
    

}
